.navBar {
  position: fixed;
  top: 0;
}

.main {
  width: full;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  margin-top: 50px;
  width: 75%;
  height: fit-content;
  padding-left: 20px;
  
}

.loaderContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}