.displayCard {
    padding: 5px;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    background-color: #f1ebe2;
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
 
    
}

.displayCard img {
    width: fit-content;
  height: 250px;
  align-items: center;
  object-fit: contain;
  padding: 10;
}

.imgHolder{
    padding: 10px;
}

.displayCard button {
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: #82837b;
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-size: x-large;
    font-style: normal;
    transition: 500ms;
    cursor: pointer;
    
   
    margin-bottom: 20px;
}

.displayCard button:hover {
    background-color: #aaa5a1;
    
}

.name {
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
}
.price {
    font-size: medium;
}

